@media(max-width: 425px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    main img {
        height: auto;
        width: 280px;
        margin-top: 50px;
    }

    .info {
        margin: 0;
        margin-top: 60px;
        text-align: center;
    }

    .info p {
        margin: 30px 50px;
    }

    .info button {
        margin: 0;
    }

    footer {
        margin: 0;
        margin-top: 60px;
        justify-content: center;
    }
}